body{
    font-family: Arial, sans-serif;
    font-size:18px;
}

header{
    background-color: lightblue;
}

nav{
    background-color: gray;
}

main{
    background-color: white;
    font-size:20px;
}

footer{
    background-color: black;
    color:white;
}

li{
    display:inline-block;
    width:150px;
}

h1{
    text-align:center;
    font-family:Georgia;
    color:black;
}

p{
    line-height:1.6;
}
